{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block head_title %}letsflyonthewebsky{% endblock head_title %}</title>
    <!-- Bootrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Roboto front -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <!-- Bootstrap CSS -->ajaxdjangocrud\static\css\bootstrap.min.css
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
    <body>
        <div class="container pt-5">
            <form method="POST" id="post-form">
                {% csrf_token %}
                <div class="form-group">
                <label for="exampleInputEmail1">Title</label>
                <input type="text" class="form-control" id="title" placeholder="Title">
                <input type="text" class="form-control" id="slug" placeholder="slug">
                </div>
                <div class="form-group">
                        <label for="exampleInputEmail1">Description</label>
                        <textarea class="form-control" id="description" placeholder="Description"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <div class="row mb-2 posts">
                    {% for post in posts %}
                    <div class="col-md-6">
                        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                                <h3 class="mb-0">{{post.title}}</h3>
                                <p class="mb-auto">{{post.description}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
            </div>
        </div>

    </body>
    <script src="{% static 'js/jquery-3.5.0.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>	
    <script>
        $(document).on('submit', '#post-form',function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'{% url "create" %}',
                data:{
                    title:$('#title').val(),
                    slug:$('#slug').val(),
                    description:$('#description').val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                    action: 'post'
                },
                success:function(json){
                    document.getElementById("post-form").reset();
                    $(".posts").prepend('<div class="col-md-6">'+
                        '<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">' +
                            '<div class="col p-4 d-flex flex-column position-static">' +
                                '<h3 class="mb-0">' + json.title + '</h3>' +
                                '<p class="mb-auto">' + json.description + '</p>' +
                            '</div>' +
                        '</div>' +
                    '</div>' 
                    )
                },
                error : function(xhr,errmsg,err) {
                $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                    " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
            });
        });
    </script>
</html>